.promo__banner {
    width: 300px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .promo__banner {
       width: 200px;
        border-radius: 50%;
        margin-top: 40px;
    }
}